/*VARIABLES DE COLOR*/
$color-rosa: #e9887a;
$color-azul: #004aad;
$color-blanco: cornsilk;
$color-gris: darkslategray;

/*TIPOGRAFIAS*/
$tipografia-titulos: "Anton", sans-serif;
$tipografia-body: "Lato", sans-serif;