footer {
    background-color: $color-rosa;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 10rem;
  
    .enlace-footer {
      font-size: 0.8rem;
      text-decoration: none;
      color: $color-blanco;
    }
  }