/*VARIABLES DE COLOR*/
* {
  margin: 0;
  padding: 0;
}

footer {
  background-color: #e9887a;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 10rem;
}

footer .enlace-footer {
  font-size: 0.8rem;
  text-decoration: none;
  color: cornsilk;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: cornsilk;
}

body h1,
body h2 {
  font-family: "Anton", sans-serif;
  color: #e9887a;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}

body h3 {
  font-family: "Anton", sans-serif;
  color: #e9887a;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 999;
}

body h4 {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  color: #004aad;
  font-weight: 900;
  font-size: 1rem;
}

.nav-general {
  color: cornsilk;
  background-color: #e9887a;
  /*Aca la seccion contacto*/
}

.nav-general .nav-formato {
  color: cornsilk;
}

.nav-general .img-logo {
  width: 30%;
  margin: auto;
}

.nav-general .enlace-activo {
  text-decoration: none;
  font-family: "Anton", sans-serif;
  font-size: 0.8em;
  font-weight: 800;
  color: #004aad;
  background-color: cornsilk;
}

.nav-general .enlace-menu {
  text-decoration: none;
  font-family: "Anton", sans-serif;
  font-size: 0.8em;
  font-weight: 800;
  color: cornsilk;
}

.nav-general .enlace-menu:hover {
  color: cornsilk;
  background-color: #004aad;
}

.nav-general .enlace-menu:active {
  color: #004aad;
  background-color: cornsilk;
}

.nav-general .columna-grillas {
  padding-left: 2rem;
  margin-left: 2rem;
}

.nav-general .banner-section {
  margin: 4rem;
  border-radius: 12px;
  border-color: #004aad;
}

.nav-general .banner-section .boton-grande {
  padding: 3%;
  margin: 1%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e9887a), to(#004aad));
  background-image: linear-gradient(#e9887a, #004aad);
  color: cornsilk;
  font-weight: 900;
  border-radius: 10%;
  border-color: #e9887a;
  font-family: "Anton", sans-serif;
  font-size: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-general .banner-section .botton-grande:hover {
  -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#004aad), to(#e9887a));
  background-image: linear-gradient(#004aad, #e9887a);
  color: cornsilk;
  border-color: cornsilk;
}

.nav-general .proyectos-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: 200%;
  color: darkslategray;
  padding-top: 5%;
}

.nav-general .proyectos-index .logo-empresas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.nav-general .proyectos-index .img-logoEmpresas {
  width: 40%;
}

.nav-general .section-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5% auto;
}

.nav-general .section-contacto .form-group {
  font-family: "Anton", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  font-weight: 900;
  color: darkslategray;
  margin: 1%;
}

.nav-general .section-contacto ::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 0.7rem;
  letter-spacing: 0.5px;
  color: darkslategray;
  margin: 1%;
  text-align: start;
}

.nav-general .section-contacto :-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 0.7rem;
  letter-spacing: 0.5px;
  color: darkslategray;
  margin: 1%;
  text-align: start;
}

.nav-general .section-contacto ::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 0.7rem;
  letter-spacing: 0.5px;
  color: darkslategray;
  margin: 1%;
  text-align: start;
}

.nav-general .section-contacto ::placeholder {
  font-family: "Lato", sans-serif;
  font-size: 0.7rem;
  letter-spacing: 0.5px;
  color: darkslategray;
  margin: 1%;
  text-align: start;
}

.nav-general .section-contacto input {
  width: 300px;
  height: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.nav-general .section-contacto #consulta {
  height: 300px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.nav-general .section-contacto input:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  font-size: 1rem;
}

/*aca va el formato de la pagina que hacemos*/
.section-cards {
  background-image: url(https://i.ibb.co/f8Ks0q1/FONDO.png);
  height: 35rem;
}

.container-banner {
  background-color: cornsilk;
  padding: 2rem;
  margin: 5rem;
}

.section-servicios {
  margin: 2rem auto;
}

/*ACA ARMO UNA GRID PARA COMO LO HACEMOS */
.gridContainer-comoLoHacemos {
  display: -ms-grid;
  display: grid;
  /*QUIERO DOS FILAS*/
  -ms-grid-rows: 25% 50%;
      grid-template-rows: 25% 50%;
  /* LE PONGO MEDIDAS RELATIVAS*/
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2%;
  text-align: justify;
  margin-top: 2%;
}

.gridItem-comoLohacemos:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1%;
}

.p-comoLoHacemos1 {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  color: darkslategray;
  margin: 1%;
}
/*# sourceMappingURL=styles.css.map */